.form__container{
    padding: 20px;
    background-color: rgb(63, 80, 121);
    border-radius: 5px;
}
.form__title{
    color: white;
    margin-top: 0;
}
.form{
    display: flex;
    gap: 20px;
}
.form__input{
    width: 350px;
    padding: 10px;
}
.form__btn{
    cursor: pointer;
    padding: 10px 15px;
    color: white;
    background-color: rgb(63, 80, 121);
    outline: 1px solid white;
    border-radius: 5px;
    border: none;
}